/**
 * Main styles for: minnpost-state-fair-bingo
 */

// Variables
$space: 1em;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-state-fair-bingo-container {
  padding-top: 4em;

  .pick {
    text-align: center;
    margin-bottom: 3em;
  }

  .card {
    min-height: 1300px;
    margin-bottom: 3em;
  }

  .caption {
    margin-bottom: 4em;
  }

  .footnote {
    margin-bottom: 2em;
  }

  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
